{% extends "groups/group_base.html" %}
{% load staticfiles %}
{% block group_content %}
<link rel="stylesheet" href="{% static 'simplesocial/css/groups_list.css' %}">
<div class="container">
	<div class="col-md-8">
		<div class="list-group">
			{% for group in object_list %}
			  <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
				     <h4 class="title list-group-item-heading">{{ group.name }}</h4>
				<div class="list-group-item-text container-fluid">
					{{ group.description_html|safe }}
					<div class="row">
						<div class="col-md-4">
							<span class="badge"><i class="glyphicon glyphicon-user"></i> {{ group.members.count }}</span> member{{ group.members.count|pluralize }}
						</div>
						<div class="col-md-4">
							<span class="badge">{{ group.posts.count }}</span> post{{ group.posts.count|pluralize }}
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
</div>
