
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 500px;
  margin: 1rem;
  position: relative;
  width: 700px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-large{
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: #222; /* dark blue */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  Transition: background-color 0.1s ease-out;
  transform: translateZ(0);
  outline: 90px solid transparent!important;
  -webkit-filter: url("#filter");
  filter: url("/#filter");
}

.button:hover {
  background-color: #2CD892; /* green */
}
