* {
  font-family:verdana;
}
header{margin:0;position:relative;padding:0px; background: #fff;    text-align: center;}
.ul h1,.navbar h2,.navbar h3,.navbar h4,.navbar h5,.navbar b,.navbar strong{font-family:sans-serif}
.navbar .hide{position:absolute;border:0;height:1px;width:1px;margin:-1px;overflow:hidden;padding:0;clip:rect(0 0 0 0)}
nav.navbar{width:100%;margin:0;padding:0;color:#363232;display:block;border-bottom:1px solid #dbdbdb}
nav.navbar{display:inline-block}
nav.navbar *{display:inline-block}
nav.navbar a{padding:12px 18px;font-size:1em;text-decoration:none;color:#363232;vertical-align:middle}
nav.navbar .li{position:relative;z-index:0}
nav.navbar .li a{margin-top:0px;margin-left:10px}
nav.navbar .menu{float:right;margin-top:15px}
nav.navbar .menu #cut:checked ~ .cut>span{display:none}
nav.navbar .menu #cut:checked ~ div{display:block}
nav.navbar .menu .cut{position:relative;float:right;padding-right:30px;cursor:pointer;color:#f44336;z-index:1000000}
nav.navbar .menu .cut span{text-transform:lowercase}
nav.navbar .menu>div{position:absolute;top:0;left:0;padding:50px 0 0 0;width:100%;background-color:#fafafa;box-shadow:0 4px 6px -3px rgba(0,0,0,0.2);display:none;z-index:100000}
nav.navbar .menu>div>.menu-columns{width:100%;margin:0 auto 40px auto}
nav.navbar .menu>div>.menu-columns>div{display:inline-block;margin:0 3% 0 0;padding:22px;width:8%;vertical-align:top}
nav.navbar .menu>div>.menu-columns>div:last-child{margin:0}
nav.navbar .menu>div>.menu-columns>div>.flap-label{display:block;margin:0;padding:0;font-size:1em;color:#363232;text-transform:uppercase;cursor:pointer}
nav.navbar .menu>div>.menu-columns>div>div>a{display:block;margin:1em 0 0 0;padding:0;color:#363232;font-size:.8em;text-decoration:none}
nav.navbar .menu>div>.menu-columns>div>div>a:hover{text-decoration:underline}
