<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>LiNKtern Social</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css'%}">
  </head>
  <body>
    <header>
      <nav class="navbar">
	       <a href="{% url 'home' %}" style="float:left;font-weight:bold;">LiNKtern</a>
         {% if user.is_authenticated %}
         <div class="ul">
          <div class="li">
	          <a href="{% url 'posts:all' %}">Posts</a>
	          <a href="{% url 'posts:create'%}">Create Posts</a>
            <a href="{% url 'groups:all'%}">Groups</a>
	          <a href="{% url 'groups:create' %}">Create Groups</a>
	          <a href="#">Live Chat</a>
          </div>
        </div>
        <div class="menu">
          <label onclick="closeNav()" class="cut" for="cut">
            <span>☰</span>
          </label>
          <input id="cut" class="hide" type="checkbox">
          <div>
            <div class="menu-columns">              <div>
                <input id="flap-products" class="flap-checkbox hide" type="checkbox">
                <label class="flap-label" for="flap-products"><strong>Aircrafts</strong></label>
                <div>
                  <a href="#">Quinjets</a>
                  <a href="#">Fighters</a>
                  <a href="#">Passenger</a>
                  <a href="#">Cargo</a>
                  <a href="#">Helicopters</a>
                  <a href="#">Help &amp; support</a>
                </div>
              </div>
              <div>
                <input id="flap-developers" class="flap-checkbox hide" type="checkbox">
                <label class="flap-label" for="flap-developers"><strong>Military</strong></label>
                <div>
                  <a href="#">Guns</a>
                  <a href="#">Bombs</a>
                  <a href="#">Armours</a>
                </div>
              </div>
              <div>
                <input id="flap-work" class="flap-checkbox hide" type="checkbox">
                <label class="flap-label" for="flap-work"><strong>Fruits</strong></label>
                <div>
                  <a href="#">Cars</a>
                  <a href="#">Bikes</a>
                  <a href="#">Furniture</a>
                  <a href="#">Houses</a>
                </div>
              </div>
              <div>
                <input id="flap-work" class="flap-checkbox hide" type="checkbox">
                <label class="flap-label" for="flap-work"><strong>Clothes</strong></label>
                <div>
                  <a href="#">Cars</a>
                  <a href="#">Bikes</a>
                  <a href="#">Furniture</a>
                  <a href="#">Houses</a>
                </div>
              </div>
              <div>
                <input id="flap-work" class="flap-checkbox hide" type="checkbox">
                <label class="flap-label" for="flap-work"><strong>Customized</strong></label>
                <div>
                  <a href="#">Cars</a>
                  <a href="#">Bikes</a>
                  <a href="#">Furniture</a>
                  <a href="#">Houses</a>
                </div>
              </div>
              <div>
                <input id="flap-work" class="flap-checkbox hide" type="checkbox">
                <label class="flap-label" for="flap-work"><strong>Customized</strong></label>
                <div>
                  <a href="#">Cars</a>
                  <a href="#">Bikes</a>
                  <a href="#">Furniture</a>
                  <a href="#">Houses</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
          <ul class="nav">
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
          </ul>
        {% endif %}
     </nav>
  </header>

    <div class="container mycontent">
      {% block content %}

      {% endblock %}
    </div>
        {# <canvas id="canvas"></canvas>#}
  </body>
  <script src="{% static "simplesocial/js/master.js"%}" type="text/javascript" ></script>
</html>
