{% extends "base.html" %}
{% block title %}
  Welcome
{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'simplesocial/css/landing.css' %}">
<br><br>
  <div class="container">
    <h4>Welcome, <strong>{{user.username}}</strong>.</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card-header">
          <h4 class="card-title">Go checkout groups</h4>
        </div>
        <div class="card-block">
          <p>Where you can go find out what linkterns up to.</p>
        </div>
        <div class="card-footer">
          <a class="btn btn3" href="{% url 'groups:all' %}">Go to Groups</a>
        </div>
      </div>
      <hr>
      <div class="col-md-6">
        <div class="card-header">
          <h4 class="card-title">Go checkout Posts</h4>
        </div>
        <div class="card-block">
          <p>There are more than 10 billion cells in human body.</p>
        </div>
        <div class="card-footer">
          <a class="btn btn3" href="{% url 'posts:all' %}">Go to Posts</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
